asgiref==3.2.4
css==0.1
destination==1.1.0
Django==3.0.12
dnspython==1.16.0
gunicorn==20.0.4
mysql-connector-python==8.0.19
mysqlclient==1.4.6
Pillow==7.0.0
protobuf==3.6.1
pystache==0.5.4
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
static==1.1.1
whitenoise==5.0.1
